/* @import-normalize; */
@import url('https://fonts.google.com/specimen/Nunito+Sans');
* {
  box-sizing: border-box;
}
:root {
  /* typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  /* others */
  --radius: 0.5rem;
}
body[data-theme='dark'] {
  --colors-bg: hsl(207, 26%, 17%);
  --colors-text: hsl(0, 0%, 100%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --colors-ui-alt: hsl(0, 0%, 52%);
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-bg: hsl(0, 0%, 98%);
  --colors-text: hsl(200, 15%, 8%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --colors-ui-alt: hsl(0, 0%, 52%);
  --shadow: rgba(149, 157, 162, 0.2) 0 8px 24px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--family);
  background: var(--colors-bg);
  color: var(--colors-text);
}
